Hey there! ðŸ‘‹ Welcome to Day 2 of the Python Party! ðŸŽ‰

I'm Dawn, and I'll be your coding companion today. We're going to work on some fun Python challenges using pandas and data analysis.

Let's dive into today's challenge!

You are a Product Analyst on the Amazon Sponsored Advertising team investigating sponsored product ad engagement across electronics categories. Your team wants to understand CTR variations to optimize targeted advertising strategies.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dim_product = pd.read_csv(r"C:\Users\abarr\Desktop\ironhack\extra\python summer party\day2\product.csv")#, index_col = 0)
fct_ad_performance = pd.read_csv(r"C:\Users\abarr\Desktop\ironhack\extra\python summer party\day2\ads.csv")#, index_col = 0)

In [3]:
fct_ad_performance

    ad_id  clicks  product_id  impressions recorded_date
0     101      10           1          200    2024-10-02
1     102      15           1          300    2024-10-12
2     103      20           2          250    2024-10-05
3     104      18           2          230    2024-10-20
4     105       5           3          150    2024-10-15
5     106      12           3          180    2024-10-25
6     107      50           4          500    2024-10-07
7     108       8           5          250    2024-10-18
8     109      14           6          200    2024-10-10
9     110      22           8          220    2024-10-30
10    111      30           9          300    2024-10-08
11    112       7          11          120    2024-10-22
12    113      13          11          150    2024-10-28
13    114       9          12          190    2024-10-11
14    115      16           2          160    2024-11-01

In [4]:
fct_ad_performance['recorded_date'] = pd.to_datetime(fct_ad_performance['recorded_date'], format = "%Y-%m-%d")

In [5]:
fct_ad_performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ad_id          15 non-null     int64
 1   clicks         15 non-null     int64
 2   product_id     15 non-null     int64
 3   impressions    15 non-null     int64
 4   recorded_date  15 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 732.0 bytes

### 1
What is the average click-through rate (CTR) for sponsored product ads for each product category that contains the substring 'Electronics' in its name during October 2024? This analysis will help determine which electronics-related categories are performing optimally.

In [6]:
dim_product['product_category'].unique()

array(['Home Electronics', 'Electronics & Gadgets',
       'Electronics Appliances', 'Books', 'Fashion', 'Kitchen', 'Outdoor',
       'Electronics Accessories', 'Health & Beauty',
       'Electronics Gadgets', 'Automotive'], dtype=object)

In [7]:
dim_product

    product_id       product_name         product_category
0            1           Smart TV         Home Electronics
1            2   Wireless Earbuds    Electronics & Gadgets
2            3       Refrigerator   Electronics Appliances
3            4  Bestselling Novel                    Books
4            5     Designer Jeans                  Fashion
5            6            Blender                  Kitchen
6            7               Tent                  Outdoor
7            8     Smart Home Hub         Home Electronics
8            9      Phone Charger  Electronics Accessories
9           10       Skincare Set          Health & Beauty
10          11              Drone      Electronics Gadgets
11          12        Car Charger               Automotive

In [8]:
dim_product_electronics = dim_product[dim_product['product_category'].str.contains('Electronics', na=False)]
dim_product_electronics

    product_id      product_name         product_category
0            1          Smart TV         Home Electronics
1            2  Wireless Earbuds    Electronics & Gadgets
2            3      Refrigerator   Electronics Appliances
7            8    Smart Home Hub         Home Electronics
8            9     Phone Charger  Electronics Accessories
10          11             Drone      Electronics Gadgets

In [9]:
oct24_ads = fct_ad_performance[(fct_ad_performance['recorded_date'].dt.month == 10) & (fct_ad_performance['recorded_date'].dt.year == 2024)]
oct24_ads

    ad_id  clicks  product_id  impressions recorded_date
0     101      10           1          200    2024-10-02
1     102      15           1          300    2024-10-12
2     103      20           2          250    2024-10-05
3     104      18           2          230    2024-10-20
4     105       5           3          150    2024-10-15
5     106      12           3          180    2024-10-25
6     107      50           4          500    2024-10-07
7     108       8           5          250    2024-10-18
8     109      14           6          200    2024-10-10
9     110      22           8          220    2024-10-30
10    111      30           9          300    2024-10-08
11    112       7          11          120    2024-10-22
12    113      13          11          150    2024-10-28
13    114       9          12          190    2024-10-11

In [10]:
df = pd.merge(left=oct24_ads, right=dim_product_electronics, on = 'product_id', how='inner')
df

,ad_id,clicks,product_id,impressions,recorded_date,product_name,product_category
0,101,10,1,200,2024-10-02,Smart TV,Home Electronics
1,102,15,1,300,2024-10-12,Smart TV,Home Electronics
2,103,20,2,250,2024-10-05,Wireless Earbuds,Electronics & Gadgets
3,104,18,2,230,2024-10-20,Wireless Earbuds,Electronics & Gadgets
4,105,5,3,150,2024-10-15,Refrigerator,Electronics Appliances
5,106,12,3,180,2024-10-25,Refrigerator,Electronics Appliances
6,110,22,8,220,2024-10-30,Smart Home Hub,Home Electronics
7,111,30,9,300,2024-10-08,Phone Charger,Electronics Accessories
8,112,7,11,120,2024-10-22,Drone,Electronics Gadgets
9,113,13,11,150,2024-10-28,Drone,Electronics Gadgets

In [11]:
df['CTR'] = df['clicks'] / df['impressions']

In [12]:
df

,ad_id,clicks,product_id,impressions,recorded_date,product_name,product_category,CTR
0,101,10,1,200,2024-10-02,Smart TV,Home Electronics,0.050000
1,102,15,1,300,2024-10-12,Smart TV,Home Electronics,0.050000
2,103,20,2,250,2024-10-05,Wireless Earbuds,Electronics & Gadgets,0.080000
3,104,18,2,230,2024-10-20,Wireless Earbuds,Electronics & Gadgets,0.078261
4,105,5,3,150,2024-10-15,Refrigerator,Electronics Appliances,0.033333
5,106,12,3,180,2024-10-25,Refrigerator,Electronics Appliances,0.066667
6,110,22,8,220,2024-10-30,Smart Home Hub,Home Electronics,0.100000
7,111,30,9,300,2024-10-08,Phone Charger,Electronics Accessories,0.100000
8,112,7,11,120,2024-10-22,Drone,Electronics Gadgets,0.058333
9,113,13,11,150,2024-10-28,Drone,Electronics Gadgets,0.086667

In [14]:
avg_CTR = df['CTR'].mean()
print(f'{avg_CTR}')

0.07032608695652175

In [18]:
category_averages = df.groupby('product_category')['CTR'].mean()
print(category_averages)

product_category
Electronics & Gadgets      0.079130
Electronics Accessories    0.100000
Electronics Appliances     0.050000
Electronics Gadgets        0.072500
Home Electronics           0.066667
Name: CTR, dtype: float64

### 2
Which product categories have a CTR greater than the aggregated overall average CTR for sponsored product ads during October 2024? This analysis will identify high-performing categories for further optimization. For this question, we want to calculate CTR for each ad, then get the average across ads by product category & overall.

In [24]:
oct24_ads["CTR"] = oct24_ads['clicks'] / oct24_ads['impressions']
oct24_ads

C:\Users\abarr\AppData\Local\Temp\ipykernel_8480\819285847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oct24_ads["CTR"] = oct24_ads['clicks'] / oct24_ads['impressions']

    ad_id  clicks  product_id  impressions recorded_date       CTR
0     101      10           1          200    2024-10-02  0.050000
1     102      15           1          300    2024-10-12  0.050000
2     103      20           2          250    2024-10-05  0.080000
3     104      18           2          230    2024-10-20  0.078261
4     105       5           3          150    2024-10-15  0.033333
5     106      12           3          180    2024-10-25  0.066667
6     107      50           4          500    2024-10-07  0.100000
7     108       8           5          250    2024-10-18  0.032000
8     109      14           6          200    2024-10-10  0.070000
9     110      22           8          220    2024-10-30  0.100000
10    111      30           9          300    2024-10-08  0.100000
11    112       7          11          120    2024-10-22  0.058333
12    113      13          11          150    2024-10-28  0.086667
13    114       9          12          190    2024-10-11  0.047368

In [25]:
total_avg_CTR = oct24_ads['CTR'].mean()
total_avg_CTR

0.06804494932984635

In [26]:
combine_data = pd.merge(left = oct24_ads, right = dim_product, on = 'product_id', how = 'inner')

In [27]:
total_category_averages = combine_data.groupby('product_category')['CTR'].mean()
total_category_averages

product_category
Automotive                 0.047368
Books                      0.100000
Electronics & Gadgets      0.079130
Electronics Accessories    0.100000
Electronics Appliances     0.050000
Electronics Gadgets        0.072500
Fashion                    0.032000
Home Electronics           0.066667
Kitchen                    0.070000
Name: CTR, dtype: float64

In [29]:
high_avg_cat = total_category_averages[total_category_averages > total_avg_CTR]
high_avg_cat

product_category
Books                      0.10000
Electronics & Gadgets      0.07913
Electronics Accessories    0.10000
Electronics Gadgets        0.07250
Kitchen                    0.07000
Name: CTR, dtype: float64

In [31]:
print(f'{high_avg_cat}')

product_category
Books                      0.10000
Electronics & Gadgets      0.07913
Electronics Accessories    0.10000
Electronics Gadgets        0.07250
Kitchen                    0.07000
Name: CTR, dtype: float64

### 3 
For the product categories identified in the previous question, what is the percentage difference between their CTR and the overall average CTR for October 2024? This analysis will quantify the performance gap to recommend specific categories for targeted advertising optimization.

In [34]:
for category, avg_value in high_avg_cat.items():
    perc = (avg_value-total_avg_CTR) / total_avg_CTR * 100
    print(f'{category} : {perc:.2f}%')

Books : 46.96%
Electronics & Gadgets : 16.29%
Electronics Accessories : 46.96%
Electronics Gadgets : 6.55%
Kitchen : 2.87%